:root {

    /* =========================
    CORES BASE (BACKGROUND)
    ========================== */
    --color-bg-primary: #1E1A17;
    --color-bg-secondary: #2A241F;
    --color-bg-elevated: #3A322B;
    --color-bg-dark: #0F0E0D;

    /* =========================
    CORES PRINCIPAIS (BRAND)
    ========================== */
    --color-primary: #E6B45E;
    --color-primary-light: #F2C879;
    --color-primary-soft: #F5E6C8;

    /* =========================
     TEXTO
    ========================== */
    --color-text-primary: #F5F5F5;
    --color-text-secondary: #CFC7B8;
    --color-text-muted: #8A8175;

    /* =========================
     NEUTROS 
    ========================== */
    --color-border: #4A4138;
    --color-black-soft: #0F0E0D;

    --difficulty-easy: #52C16D;
    --difficulty-medium: #D4AF37;
    --difficulty-hard: #C94B4B;
}

*{
    padding: 0;
    margin: 0;
    transition: all 200ms ease;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    color: var(--color-text-primary);

    background-color: var(--color-bg-primary);
}

.progress{
    width: 90%;
    height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 2vh;

    padding-top: 5vh;
}

.progress .top{
    display: flex;
    justify-content: space-between;
    
    height: 50%;
    width: 100%;
}

.quitBtn{
    width: 5%;
    height: 80%;
}

.quitBtn img{
    width: 100%;
    height: 100%;

    cursor: pointer;

    filter: invert(85%);
}

.question{
    display: flex;
    font-size: 2vh;
}

.points{
    height: fit-content;

    font-size: 2vh;

    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.points p{
    color: var(--color-text-secondary);
}

.progressBar{
    width: 100%;
}

progress{
    width: 100%;
    height: 0.8vh;

    border: 0.2vh solid var(--color-bg-dark);
    border-radius: 1vh;
    background-color: var(--color-border);
}

progress::-webkit-progress-value {
  background: linear-gradient(90deg, var(--color-primary), var(--color-primary));
  border-radius: 1vh;
}

progress::-moz-progress-bar {
  background: linear-gradient(90deg, var(--color-primary), var(--color-primary));
  border-radius: 1vh;
}

.quiz{
    width: 90%;
    height: 60vh;

    padding-top: 10vh;
}

.quiz .top{
    height: fit-content;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz .top .title{
    width: 50vw;

    text-align: center;
    font-size: 3vh;
}

.bottom{
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    grid-template-rows: repeat(2, 10vh);
    
    justify-content: center;
    padding-top: 5vh;
    
    gap: 5vh;
}

.answer{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 2vw;
    padding: 5vh;
    cursor: pointer;

    border-radius: 1vh;
    border: 0.2vh solid var(--color-bg-elevated);

    transition: all 200ms ease;
}

.letter{
    width: 2.5vw;
    height: 4vh;
    background-color: var(--color-bg-elevated);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.5vh;
    border: 0.1vh solid var(--color-primary-light);

    transition: all 200ms ease;
}

.selected{
    background-color: color-mix(in srgb, var(--color-primary-light) 100%, transparent 90%);
    border: 0.2vh solid var(--color-primary);
    color: black;
}

.selected .letter{
    background-color: color-mix(in srgb, var(--color-primary-light) 40%, transparent 100%);
    color: black;
}

.answer:hover .letter{
    background-color: color-mix(in srgb, var(--color-primary-light) 40%, transparent 100%);
    color: black;
}

.answer:hover{
    background-color: color-mix(in srgb, var(--color-primary-light) 100%, transparent 90%);
    border: 0.2vh solid var(--color-primary);
    color: black;
}


.buttons{
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10vw;
    height: 5vh;
    font-weight: bold;
    font-size: 1.5vh;
    color: var(--color-text-primary);

    cursor: pointer;

    border: 0.2vh solid var(--color-primary);
    border-radius: 5vh;
    background-color: transparent;
}

.blocked{
    filter: saturate(0);
    cursor: default;
}   

#btnNext{
    border: none;
    color: var(--color-bg-dark);
    background-color: var(--color-primary);
}

.btnFinish{
    border: none;
    color: var(--color-bg-dark);
    background-color: var(--color-primary);   
}

button img{
    width: 20%;
    height: 50%;

    filter: invert(80%);
}

#imgArrow{
    filter: none;
    width: 20%;
    height: 30%;
}

.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    border: none;
    border-radius: 1vh;
    background-color: rgba(0, 0, 0, 0.562);
}

.modalContainer{
    width: 45vw;
    height: 85vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3vh;

    color: var(--color-text-primary);

    border-radius: 1vh;
    background-color: var(--color-bg-primary);
}

.modalContainer img{
    width: 60%;
    height: 40%;
}

.modalContainer .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result{
    color: var(--color-primary);
    font-size: 8vh;
}

.modalContainer .top p{
    font-size: 3vh;
}

.modalContainer .top .points{
    font-size: 3vh;
}

.infos{
    display: flex;
    align-items: center;

    width: 90%;
    height: 20%;

    border-radius: 2vh;
    background-color: var(--color-bg-dark);
}

.info{
    flex: 1;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2vh;
}

#errors{
    border-left: 0.1vw solid var(--color-bg-secondary);
    border-right: 0.1vw solid var(--color-bg-secondary);
}

#erros{
    color: var(--difficulty-hard);
}

#acertos{
    color: var(--difficulty-easy);
}

.info .main{
    font-size: 3vh;
}

.modalContainer button{
    background-color: var(--color-primary);
    border: none;

    color: var(--color-bg-dark);
}