/* Incial Configs */

*{
    padding: 0;
    margin: 0;
}

:root{
    --primary: #895129;
    --primary-1000: #2b251e;
    --accent: #ffc067;
    --accent-100: #fff2e1;
}


@font-face{
    font-family: 'Klemer';
    src: url('../fonts/KlemerDisplayDEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main{
    width: 500vw;
    height: 100vh;
    display: flex;

    transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}

.side{
    position: absolute;
    width: 10%;
    height: 100%;

    left: 0;

    background-color: red;
    border: solid 1px black;

    display: none;
}

section{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    scroll-snap-align: start;
}

.title{
    position: absolute;
    font-size: 15vh;
    color: var(--accent);
    font-family: 'Klemer', sans-serif;

    transition: all 0.8s ease;

    letter-spacing: 5px;
    z-index: 3;
}

.subtitle{
    position: absolute;
    font-size: 10vh;
    color: var(--accent);
    font-family: 'Playfair', sans-serif;

    transition: all 0.8s ease;

    letter-spacing: 5px;
}

/* Intro */

.intro { 
    position: relative;
    width: 100vw;
    height: 100vh;

    background-color: var(--primary-1000);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.svg{
    position: absolute; 
    width: 50%;
    height: auto;

    z-index: 2;
}

.intro-instruction{
    position: absolute;
    bottom: 20px;

    font-size: 1rem;
    color: var(--accent);
    font-family: 'arial', sans-serif;

    transition: all 0.3s ease;

    letter-spacing: 5px;
    z-index: 3;
} 

.animation{
    position: absolute;
    width: 100px;
    height: 100px;
    transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);

    border-radius: 50%;

    background-color: var(--primary);
    z-index: 1;
}


/*  Introdução */

.introduction-title{
    height: 100vh;
    width: 100vw;

    background-color: var(--primary);

    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    background-color: var(--accent-100);

    position: relative;

    transition: all 0.8s ease;
}

.introduction .content{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.content-title{
    width: 100%;
    height: 10%;

    font-size: 3rem;
    color: var(--accent);
    font-family: 'Playfair', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content{
    font-size: 2rem;
    width: 50%;

    color: var(--primary-1000);

    text-align: center;
    margin-top: 20px;
}

.curtains-container{
    width: 100%;
    height: 100%;

    display: flex;

    cursor: pointer;

    position: absolute;

    transition: all 2s ease;

    z-index: 2;
}

.curtain-left, .curtain-right{
    width: 50%;
    height: 100%;

    background-image: url('../img/curtain.png');
    background-size: cover;

    transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}

.btn-next{
    width: 10vw;
    height: 10vh;

    cursor: pointer;

    opacity: 0;
    transition: opacity 0.8s ease;
}

/* Section 2 */

.section2{
    width: 100vw;
    height: 100vh;

    background-color: var(--primary-1000);

    display: flex;

}

.section2 .content{
    width: 45%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5%;

    z-index: 1;
}

.section2 .content-title{
    justify-content: flex-start;
}

.section2 .subtitle{
    font-size: 4rem;
}

.section2 .text-content{
    color: var(--accent-100);
    width: 80%;
}

.side-img-container{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.side-section2-img{
    width: fit-content;
    height: fit-content;

    border-radius: 10px;

    right: 0;

    z-index: 0;
}

